.singlePost {
    padding: 10px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.2);
    position: relative;
}

.postHeader {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.postAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.postHeaderTitle {
    font-weight: bold;
}

.postDate {
    font-size: 12px;
    font-style: italic;
    color: gray;
    margin-left: 10px;
}

.postImage {
    width: 100%;
    height: auto;
}

.postFooter {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid gray;
    margin-top: 10px;
    display: flex;
}

.postIcon {
    margin-left: 30px;
    color: gray;
    cursor: pointer;
}

.removeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.removeIcon:hover {
    color: red;
}

.editBlock {
    padding-top: 10px;
    border-top: 1px solid gray;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.repost {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 30px;
    border-bottom: 1px solid gray;
    background-color: #e7e4e4;
}

.repostFrom {
    margin-right: 20px;
    font-style: italic;
}

.commentsBlock {
    border-top: 1px solid gray;
    padding-top: 10px;
}

.singleComment {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.commentAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.commentLink {
    color: cornflowerblue;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.commentHeader span {
    font-size: 12px;
    font-style: italic;
    color: gray;
    flex-grow: 1;
}

.singleComment p {
    margin-left: 20px;
}

.addReply {
    display: flex;
}
.addReply input {
    flex-grow: 1;
}

.replyAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.replyHeader {
    display: flex;
    align-items: center;
}

.replyHeader span {
    font-size: 12px;
    color: gray
}

.singleReply {
    margin: 10px 0 0 30px;
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.singleReply p {
    margin: 5px 0 0 40px;
}

.replyName {
    font-weight: bold;
    margin-right: 20px;
    color: cornflowerblue;
}

.repliedTo {
    font-size: 12px;
    margin-left: 10px;
    color: gray;
}