.header {
    background-color: #ffffffff;
    padding: 10px 0;
}

.headerInner {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.headerLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoIcon {
    color: blue;
}

.logo {
    color: black;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.userName {
    margin: 0 10px;
}

.userInfo {
    display: flex;
    align-items: center;
}

.headerAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}