.myGroups {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.groupList {
    width: 45%;
    margin-top: 30px;
    background-color: white;
    height: 90vh;
    padding: 10px;
}

.recommended {
    width: 30%;
    margin-top: 30px;
    background-color: white;
    height: 90vh;
    padding: 10px;
    text-align: center;
}

.groupListHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.groupsHeaderButton {
    padding: 5px 30px;
    cursor: pointer;
}

.singleGroup, .singleRecommendedGroup {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    text-align: left;
    align-items: center;
}

.singleGroupAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.singleGroupLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
}

.singleGroupLink:hover {
    color: cornflowerblue;
}

.singleGroupDescription {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.singleGroupUnsubscribeButton {
    margin-top: 7px;
    border: none;
    cursor: pointer;
}

.singleGroupUnsubscribeButton:hover {
    color: cornflowerblue;
}

.singleRecommendedGroupAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.singleRecommendedGroupLink {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.singleRecommendedGroupLink:hover {
    color: cornflowerblue;
}

.singleRecommendedGroupDescription {
    margin: 0;
    font-size: 10px;
    font-style: italic;
    color: gray;
}

.singleRecommendedGroupUnsubscribeButton {
    margin: 0;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}