.photoPage {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.photoPageInner {
    width: 80%;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photoPageItem {
    height: 300px;
    width: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalImg {
    height: 80vh;
    width: auto;
}